NODE_ENV=development

POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=maasyoga
POSTGRES_PORT=5432

FRONTEND_PORT=3001
FRONTEND_HOST=http://localhost:3001
BACKEND_PORT=3002
BACKEND_HOST=http://localhost:3002/
BACKEND_TOKEN_SECRET=123
BACKEND_TOKEN_EXPIRATION_TIME_MILISECONDS=86400
ALLOWED_ORIGINS=*
BACKEND_SSL_DB_CONNECTION=false
REACT_APP_HEALTHCHECK=http://localhost:3002/api/v1/healthcheck
GOOGLE_CLIENT_ID=510817089559-jaembcfhgn9ac90omlq57v3l2jtj3dku.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CLIENT_REFRESH_TOKEN=1//04aKI7J0w4jOgCgYIARAAGAQSNwF-L9IrUT4JOeEv8bD81wDa9OGtY76gR_5Hx-3RvD2VeE5Wpn8Nk2Vc6WeJ8-0EVjrLi9wJYjY
GOOGLE_API_KEY=AIzaSyBmZvHlPEo_prawbq9zI7TPdI_WUsHdzU4