@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.modal-content {
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.modal-content--opening {
	animation-name: modal-fade-in;
}

.modal-content--closing {
	animation-name: modal-fade-out;
}

@keyframes modal-fade-in {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes modal-fade-out {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.95);
	}
}

.modal-backdrop {
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.modal-backdrop--opening {
	animation-name: backdrop-fade-in;
}

.modal-backdrop--closing {
	animation-name: backdrop-fade-out;
}

@keyframes backdrop-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.75;
	}
}

@keyframes backdrop-fade-out {
	0% {
		opacity: 0.75;
	}
	100% {
		opacity: 0;
	}
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.flex-end {
  justify-content: flex-end;
}

.group:hover .group-hover\:block {
	display: block;
}

.min-icon-storage {
  min-width: 120px;
}

.none {
  display: none;
}

.payment-filter-width {
  width: 200px;
}

button.bg-disabled:disabled, button.bg-disabled[disabled] {
  background-color: white;
}

.text-blue {
  color: blue;
}

.helper-text {
  opacity: 0.6;
  color: #000000;
}

.modal-responsive {
  max-width: 100% !important;
}

.MuiTabPanel-root.pt-4 {
  padding: 1.5rem 0 0 0;
}

.flex-column {
  flex-direction: column;
}

.h-38px {
  height: 38px !important;
}

.z-100 {
  z-index: 100;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
}

.relative-important {
  position: relative !important;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}